
<body>
    <div id="signout">
        <button class="btn btn-success" (click)="signOut()">LogOut</button>
      </div>
    
    
    <div id="customer">
    
    <h3>List of Tables</h3> 
    
       <button id="button1" class="btn btn-success">  <a [routerLink]="['/listpayment']">View List of Payments</a></button><br><br>
       <button id="button2" class="btn btn-success">  <a [routerLink]="['/listcustomer']">View List of Customer</a></button><br><br>
       <button id="button3" class="btn btn-success">  <a [routerLink]="['/listweightlog']">View List of Weight Log</a></button><br><br>
       <button id="button4" class="btn btn-success">  <a [routerLink]="['/listnutrition']">View List of Nutrition</a></button><br><br>
       <button id="button5" class="btn btn-success">  <a [routerLink]="['/listdiet']">View List of Diet</a></button><br><br>
    
      </div>
    </body>
    