

<button id="button1" >  <a [routerLink]="['/customersection']">HOME</a></button><br>
<div class="panel panel-primery" >
    <h4>Payment Table</h4>
    <table border="2" class="table table-hover">
        <tr style="background-color:greenyellow;">
            <td> Id</td> 
            <td> Payment/Amount(₹) </td>
            <td> Discount(%) </td>
            <td> Created_At  </td>
            <td> Updated_At  </td>
            <!-- <td> User Id </td>
            <td> Plan Id </td> -->
           
            
        </tr>
        <tr *ngFor="let p of payments">
            <td> {{p.id}} </td> 
            <td> {{p.payment}} </td>
            <td> {{p.discount}} </td>
            <td> {{p.created_At}} </td>
            <td> {{p.updated_At}} </td>
            <!-- <td> {{p.user.id}} </td>
            <td> {{p.plantable.planid}} </td> -->
          
        </tr>
    </table>
</div>
