

<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              The best <br />
              <span class="text-primary">for your business</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
             
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form >
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <!-- <button type="button" [routerLink]="['/employee']"   class="btn btn-primary btn-lg btn-block">Employee</button> <br><br>
                        <button type="button" [routerLink]="['/department']" class="btn btn-secondary btn-lg btn-block">Department</button><br><br>
                        <button type="submit"  [routerLink]="['/compliance']" class="btn btn-primary btn-lg btn-block">Regulation(Compliance)</button><br><br>     <br><br><br> -->
                        <button class="btn btn-outline-danger"[routerLink]="['/logincomponent']">Logout</button>
                      </div>
                    </div>
                   </div>                
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
